name: Build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Zip extensions
        run: |
          npm run zip
          npm run zip:firefox

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: extension-packages
          path: .output/*.zip
