name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  submit:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Zip extensions
        run: |
          npm run zip
          npm run zip:firefox
        env:
          WXT_BACKEND_API_KEY: ${{ secrets.BACKEND_API_KEY }}
          WXT_BACKEND_URL: ${{ secrets.BACKEND_URL }}

      - name: Create GitHub Release and upload zips
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            .output/*.zip
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
